n8n_workflows/advanced_fraud_workflow.json
{
  "name": "AI Ops Wizard - Fraud Analyze (advanced)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fraud-webhook",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      },
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "values": { "string": [ { "name": "id", "value": "={{ $json.id || 'evt-' + $randomString(8) }}" } ] },
        "options": {}
      },
      "name": "Set Meta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": { "mode": "sequential", "limit": 5 },
      "name": "Rate Limit (sequential)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $json[\"env\"]?.BACKEND_URL || 'http://api:8000/analyze' }}",
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ id: $json.id, payload: $json.payload || $json }) }}",
        "options": { "throwHttpErrors": false }
      },
      "name": "Call AI-Core (/analyze)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [920, 300]
    },
    {
      "parameters": {
        "rules": [
          { "operation": "contains", "value1": "={{ $json[\"body\"]?.suggested_action || '' }}", "value2": "HOLD" }
        ],
        "combineOperation": "any"
      },
      "name": "Is HOLD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1160, 220]
    },
    {
      "parameters": {
        "rules": [
          { "operation": "contains", "value1": "={{ $json[\"body\"]?.suggested_action || '' }}", "value2": "MANUAL_REVIEW" }
        ],
        "combineOperation": "any"
      },
      "name": "Is MANUAL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1160, 380]
    },
    {
      "parameters": {
        "channel": "#fraud-alerts",
        "text": "={{ `ALERT: event ${$json[\"body\"]?.id || $json.id} recommended=${$json[\"body\"]?.suggested_action} score=${$json[\"body\"]?.score || ''}` }}"
      },
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1400, 360]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "https://crm.example.internal/api/cases",
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ external_id: $json[\"body\"]?.id || $json.id, reason: $json[\"body\"]?.reasoning || 'Manual review required', meta: $json[\"body\"] }) }}",
        "options": { "throwHttpErrors": false }
      },
      "name": "Create CRM Case (placeholder)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1400, 460]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"body\"]?.statusCode || 200 }}",
        "operation": "isGreaterThan",
        "value2": 299
      },
      "name": "Is Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1160, 560]
    },
    {
      "parameters": {
        "mode": "delay",
        "delayFor": 1,
        "delayUnit": "minutes"
      },
      "name": "Wait / Retry Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1400, 560]
    },
    {
      "parameters": {
        "operation": "response",
        "responseCode": 200,
        "responseBody": "={{ { status: 'ok', id: $json.body?.id || $json.id, action: $json.body?.suggested_action } }}"
      },
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 300]
    }
  ],
  "connections": {
    "Webhook In": { "main": [[{ "node": "Set Meta", "type": "main", "index": 0 }]] },
    "Set Meta": { "main": [[{ "node": "Rate Limit (sequential)", "type": "main", "index": 0 }]] },
    "Rate Limit (sequential)": { "main": [[{ "node": "Call AI-Core (/analyze)", "type": "main", "index": 0 }]] },
    "Call AI-Core (/analyze)": {
      "main": [
        [{ "node": "Is HOLD?", "type": "main", "index": 0 }],
        [{ "node": "Is MANUAL?", "type": "main", "index": 0 }],
        [{ "node": "Is Error?", "type": "main", "index": 0 }],
        [{ "node": "Return Response", "type": "main", "index": 0 }]
      ],
      "error": [
        [{ "node": "Is Error?", "type": "main", "index": 0 }]
      ]
    },
    "Is HOLD?": { "main": [[{ "node": "Return Response", "type": "main", "index": 0 }]] },
    "Is MANUAL?": { "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }], [{ "node": "Create CRM Case (placeholder)", "type": "main", "index": 0 }], [{ "node": "Return Response", "type": "main", "index": 0 }]] },
    "Is Error?": { "main": [[{ "node": "Wait / Retry Delay", "type": "main", "index": 0 }]] },
    "Wait / Retry Delay": { "main": [[{ "node": "Call AI-Core (/analyze)", "type": "main", "index": 0 }]] },
    "Return Response": { "main": [] }
  }
}
